<% @cocktails.each do |cocktail| %>
<h2><%= cocktail.name.capitalize %></h2>
<%= link_to "Details", cocktail_path(cocktail)%>
<% end %>
<br>
<h4><%=link_to "Create new Cocktail", new_cocktail_path%></h4>


